<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spotify Diff</title>
    <style>
        /* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
  margin-top: 10px;
}


    </style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="/static/bootstrap-social.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"> 
      <div class="row">
           <div class="col-md-12 text-md-right text-center">
  
              <a href="https://github.com/theriley106/SpotifyDiff" class="btn btn-lg btn-social btn-github" target="_blank">
              <span class="fa fa-github"></span> View on Github
              </a>
           </div>
  
          </div>
      </div>
      <div class="container">
        <div class="row row-flex">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="content">
              <center>
              <h5>{{playlistName}}</h5>
              Songs in Common: <br>
              <h1>{{overlap}}</h1>
                <b>Similarity %</b><br><pre>(overlap / library_size)</pre>
              {{info.user1.name}}: <b>{{'{0:.2f}'.format((overlap|float / info.user1.songs|float) * 100)}}%</b><br>
              {{info.user2.name}}: <b>{{'{0:.2f}'.format((overlap|float / info.user2.songs|float) * 100)}}%</b>
                <br>

            </center>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="content colour-2">
                <center>
            <h1><a href="{{playlistLink}}" target="_blank">View Playlist</a></h1></center>
            </div>
          </div>
        </div>
      </div>
      <center>
        <p>Your new custom URL:<br>
            <b><h5 style="
              word-wrap: break-word;
          "><a href="http://www.spotifydiff.com/share/{{uri}}">http://www.spotifydiff.com/share/{{uri}}</a></b></h5>
            <br>Share this link with your friends to generate new playlists with the song overlap in your Spotify library</p></center>

    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
           <a href="http://www.christopherlambert.me/" target="_blank"> Christopher Lambert</a>
        </div>
        <!-- Copyright -->
     </footer>
  </body>
</html>